$clear: #f3d250;
$rainy: #5da2d5;
$cloudy: #00c3bc;
$snowy: #00c3bc;
$background: #17252a;
$form-background: #def2f1;

$text-color: #fafafa;
$border-radius: 0.5rem;

%align-items-center {
  display: flex;
  align-items: center;
}
